[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
kafka-python = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pipenv-setup = "*"

[requires]
